        h1 {
         font-size:70px;
         text-align:center;
		 font-family: Lucida Calligraphy;
         color:white;
         }      
		
        body {
          background-image: url("https://raw.githubusercontent.com/PerryHighCS/MiggyFajardo/master/Black.jpg");
		   background-size: cover;
         }
		 
		ul {
		 list-style-type: none;
		 margin: 0;
		 padding: 0;
	     overflow: hidden;
		 background-color: white;
		}
		li {
		 border-right: 2px solid #bbb;
		}

		li:last-child {
		 border-right: none;
		}
		li {
	 	 float: left;
		}

		li a {
	  	 display: block;
	  	 color: black;
	 	 text-align: center;
	 	 padding: 12px 12px;
	 	 text-decoration: none;
		}

		li a:hover:not(.active) {
		 background-color: grey;
		}

		.active {
		 background-color: grey;
		}
		.text {
		 font-size:30px;
         text-align:center;
		 font-family: Lucida Calligraphy;
         color:black;
		 }
		#text {
		 font-size:30px;
         text-align:center;
		 font-family: Lucida Calligraphy;
         color:black;
		 }
